html,body{padding: 0 0 0px;margin: 0;font-family: 'Muli', sans-serif;}
.bgPrin{background-image: url("../images/logodifuminado.png"); background-position: center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed; }
footer{width: 100%;bottom: 0; margin-top: 15px}
.bgprinop{background-color: #fff;opacity: 0.8}
h1{font-family: 'Gloria Hallelujah', cursive !important;}

/*font-family: 'Josefin Sans', sans-serif;*//*usarla para descripcion*/

.nVisible{visibility: hidden;}
.navbar-default{z-index: 99;  background-color: rgba(12, 85, 64, 0.19)!important;border-radius: 0px;border: none; background-image: none;}
.navbar-default .navbar-nav>li>a{color:#fff;font-size: 20px;line-height: 125px;font-weight: bold;}
.pAbsoluteB0{position: absolute; bottom: 0; width: 100%}
.fz20{font-size: 30px;}
.foter{text-align: right; margin-top: 105px;color: #5D294F;}
.topflexslide{   position: absolute; top: 0;  z-index: 9;  }
.clear{clear: both;}
.mb614{margin-bottom: 800px;}
.recuadro {-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);padding: 15px}
.fz20{font-size: 20px;}
/*-----------------*/
/*   BackGrounds */
/*----------------*/
.bGfooter{background-color: rgba(12, 85, 64, 0.19)!important;border-radius: 0px;border: none;background-image: none; height: auto;margin-top: 50px;padding-top: 10px;}
.bgdada{background-color: #dadada;margin-bottom: 15px;}
.bgVerd{background-color: green;}
.bgGris{background-color: grey;}
.bgGreenTitle{background-color: #77c679}
.bgSlide1{background-image: url('../images/ejercicio1.jpg');height: 800px; background-size:cover;background-repeat: no-repeat;}
.bgSlide2{background-image: url('../images/ejercicio2.jpg');height: 800px; background-size:cover;background-repeat: no-repeat;}
.bgSlide3{background-image: url('../images/ejercicio3.jpg');height: 800px; background-size:cover;background-repeat: no-repeat;}
.bgSlide4{background-image: url('../images/ejercicio4.jpg');height: 800px; background-size:cover;background-repeat: no-repeat;}
.tophome{ position: absolute; top: 0;  z-index: 9;     background-position: center; background-image: url('../images/playa.jpg');height: 930px; margin-bottom:50px;background-size:cover;background-repeat: no-repeat; width: 100%}
.bgBlanc{background-color: #fff;}
.bgOpacitat{background-color: pink; opacity: 0.8}
.bgOpacitat1{background-color: #A5DCA8; opacity: 0.8}
.bgOpacitat2{background-color: pink; opacity: 0.8}
.bgOpacitat3{background-color: #6784BC; opacity: 0.8}
.bgOpacitat4{background-color:#F5C366;opacity: 0.8}
.targetaUsuario{    background-color: #dadada; padding: 20px;border-radius: 33px;}
.mensaje1{height: auto;text-align: right; background-color: #8fc6d9; padding:25px;
    border-radius: 78px 0px 78px 78px;-moz-border-radius: 78px 0px 78px 78px;
-webkit-border-radius: 78px 0px 78px 78px;
border: 0px solid #000000;
}
.mensaje{
	height: auto;
        text-align: left;
        padding:25px;
	background-color: #4ed98a;
	border-radius: 0px 78px 78px 78px;
	-moz-border-radius: 0px 78px 78px 78px;
	-webkit-border-radius: 0px 78px 78px 78px;
	border: 0px solid #000000;
}
/*--------------*/
/*    Border   */
/*------------*/
.bTronge{border:2px solid orange;}
.bBlau{border: 2px solid blue;}
.bBlau2{border: 2px solid blue;}
.bVerd{border: 2px solid green;}
.blila{border: 2px solid purple;}
.borderGris{border-bottom: 1px solid #dddddd}
/*-------------*/
/* Grandàries */
/*-----------*/
.w100{width: 100%}
.h75{height: 20%}
.hAuto{height: auto}
/*--------------*/
/* pd i mg     */
/*------------*/
.mT10{margin-top: 10px}
.mT20{margin-top: 20px;}
.mT35{margin-top: 35px}
.mB60{margin-bottom: 60px}
.mTB20{margin-top:20px;margin-bottom: 20px;}
.mB15{margin-bottom: 15px;}
.mB70{margin-bottom: 70px}
.mB50{margin-bottom: 50px;}
.mTB30{    margin-top: 30px;margin-bottom: 30px;}
.mAuto{left: 0; margin: auto; position: absolute; right: 0;}
.marginAutoInlineBlock{margin: 0 auto;display: inline-block;}
.prelative{position: relative;}
.mL15{margin-left: 15px;}
.mR15{margin-right: 15px;}
.pT15{padding-top: 15px;padding-bottom: 15px}
.pB15{padding-bottom: 120px;display: block;}
.h226{height: 226px;}
.h115{height: 115px;}
.h175{height: 175px;}
@media(max-width: 992px){
	.bBlau2{background-color: red!important;}
    .pL0sm{padding-left: 0px;}
    .pR0-sm {padding-right: 0px;}
}
@media(max-width: 992px){
	.foter{text-align: center;margin-top: 10px;}
}
@media(max-width: 767px){
    .imgAuto{
        display: inline-block;
margin: 0 auto;
    }
    .mensaje>span{
        
        padding: 45px;
    }   
 
.mB15xs{margin-bottom: 15px}
.pB20xs{padding-bottom: 20px}
.mT50nXS{margin-top: 0px}
.pL0 {padding-left: 0px}
}

.text-blanc{color: #fff; font-weight: bold;}
.mT50nXS {
    margin-top: 50px;
}
.dInlineB{display: inline-block;}
.pT20{padding-top: 20px;}
.colorGrey{color: grey;}
.login {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/gym.jpg') no-repeat center fixed; background-size: cover;}

.transparent-heading {background-color: rgba(255, 255, 255, 0.15);color: #FFF;padding: 10px;text-align: center;}
.login-form {background-color: rgba(255, 255, 255, 0.3);color: #FFF;padding: 15px; margin: 0 auto;}
.login-form a,.login-form a:hover {color: #FFF;text-decoration: none;}
.imagen-login{height: 150px; width: 150px;text-align:center;}
.imagen-button-login{height: 15px; width: 15px;}


.registro {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/registro.jpg') no-repeat center fixed; background-size: cover;}

.transparent-heading {background-color: rgba(255, 255, 255, 0.15);color: #FFF;padding: 10px;text-align: center;}
.registro-form {background-color: rgba(255, 255, 255, 0.3);color: #FFF;padding: 15px; margin: 0 auto;}
.registro-form a,.login-form a:hover {color: #FFF;text-decoration: none;}
.imagen-registro{height: 150px; width: 150px;text-align:center;}
@media (max-width: 1200px) {
       .navbar-default .navbar-nav>li>a{
    background-color: #000000;
       line-height: 18px!important;
   }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        width: 100%;
           margin-top: 230px!important;
        display:block !important;
    }
}